@charset "utf-8";

/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background:#FFe;
}

#Wrapper{
	width:960px;
	margin:0 auto;
	height:100%;		
}
header{
	background:url(images/head.png);
	width:960px;
	height:120px;
}
#alarm4{display:none;
width:235px;
font-size:18px;
background:#fff;
color:#057;
padding:2px;

	
}
#today{
float:right;
color:#057;
font-weight:bold;
font-size:18px;
padding-right:10px;

padding-top:90px;	
}
#article1{
		width:960px;
		margin-top:50px;
		text-align:center;
			
}
.ex{
	display:block;
}
#article1 h1{
	font-size:120px;	
	color:#005;	
}
#article1 h4{
	font-size:40px;	
	color:#005;	
}
#article1 a{
	font-size:22px;
	background:#DDD;
	width:150px;
	padding:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	text-decoration:none;
	color:#005;
}
#article1 a:hover{
	font-size:30px;
	text-decoration:underline;
	color:#000;	
}
#messagesDiv{
	width:300px;
	float:left;	
	background:#007;
	color:#3F0;
	margin:0px 0px 20px 20px;
	padding:10px;
}
#create{
	width:600px;
	float:left;	
	background:#057;
	color:#fff;
	margin:0px 0px 20px 0px;
	padding:10px;
}
article{
	width:960px;
	height:100%;
}

article h1{
	color:#3F0;
}
input[type=text]{
	width:230px;
	color:#003;
	border-bottom-style:ridge;
	border-bottom:1px #000 solid; 
	border-right:1px #000 solid;
}
article p{
	color:#ffe;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
}