@charset "utf-8";

/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background:#FFe;
}
#Wrapper{
	width:960px;
	margin:0 auto;
	height:100%;		
}
#article1{
		width:960px;
		margin-top:50px;
		text-align:center;
			
}
#article1 h1{
	font-size:120px;	
	color:#005;	
}
#article1 h4{
	font-size:40px;	
	color:#005;	
}
#article1 a{
	font-size:22px;
	background:#DDD;
	width:150px;
	padding:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	text-decoration:none;
	color:#005;
}
#article1 a:hover{
	font-size:30px;
	text-decoration:underline;
	color:#000;	
}
nav{
	width:960px;
	height:50px;
	background:#fff;
	float:left;
}
nav ul{
	margin:0px;
	padding:0px;
}
nav li{	
	height:30px;
	display:block;
	list-style: none;
	float:left;
	color:#0C6;	
	width:130px;
	padding:10px;
	text-align:left;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;	
}
nav a{
	display:block;
	text-decoration:none;
	color:#005;	
}
nav a:hover{
	display:block;
	color:#000;
	opacity:0.8;
	font-weight:bold;
}
#messagesDiv{
	width:280px;
	float:left;	
	background:#007;
	color:#3F0;
	margin:0px 20px 20px 20px;
	padding:10px;
}
#create{
	width:600px;
	float:left;	
	background:#057;
	color:#fff;
	margin:0px 0px 20px 0px;
	padding:10px;
}
article{
	width:960px;
	
	
	height:100%;
}

article h1{
	color:#3F0;
}
input[type=text]{
	width:230px;
	color:#003;
	border-bottom-style:ridge;
	border-bottom:1px #000 solid; 
	border-right:1px #000 solid;
}
article p{
	color:#ffe;
	font-size:16px;
	font-family:Georgia, "Times New Roman", Times, serif;
}